.imgGaleria {

    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;

    position: relative;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: "ver";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 900;
        z-index: 10;
        opacity: 0;
    }

    &:hover span {
        transition: .2s ease-in;
        content: "Ver";
        background-color: rgba(13, 13, 13, 0.696);
        opacity: 1;
    }
}